@import "./mixins";
.button-style-1 {
  background-color: var(--secondaryColor);
  width: 230px;
  height: 35px;
  cursor: pointer;
  @include centerAll;
}
.button-style-2 {
  background-color: var(--iconBackground);
  width: 180px;
  height: 35px;
  cursor: pointer;
  @include centerAll;
  &:hover {
    background-color: var(--iconBackgroundHover);
  }
}

.button-style-3 {
  background-color: var(--blackColor);

  width: 180px;
  height: 35px;
  cursor: pointer;
  @include centerAll;
  &.disabled {
    background-color: #3f8667;
  cursor: not-allowed;
  }
  &:hover {
    background-color: var(--iconBackgroundHover);
  }
}
